apiVersion: v1
kind: Service
metadata:
  name: chrome-node-service
spec:
  selector:
    app: chrome-node
  ports:
    - protocol: TCP
      port: 4444
      targetPort: 4444
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: chrome-node-deployment
spec:
  replicas: 4 # Script tarafından güncellenecek
  selector:
    matchLabels:
      app: chrome-node
  template:
    metadata:
      labels:
        app: chrome-node
    spec:
      containers:
        - name: chrome-node
          image: selenium/standalone-chrome:latest
          ports:
            - containerPort: 4444
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          volumeMounts:
            - mountPath: /dev/shm
              name: dshm
          env:
            - name: SE_NODE_MAX_SESSIONS
              value: "1"
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory